@import "tailwindcss";
@variant dark (&:where(.dark, .dark *));
@plugin "daisyui";

html,
body {
  position: relative;
  height: 100%;
}

.swiper-pagination-bullet {
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 60px;
  font-size: 20px;
  color: #ffffff;
  opacity: 1;
  background: rgba(59, 60, 60, 0.781);
}

.swiper-pagination-bullet-active {
  color: #000000;
  background: #ffffff;
}

/* typing effect */
.cursor {
  animation: blink 2s infinite;
}

@keyframes blink {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}
